<div class="container"><h4 class="mission-and-vision-header">Mission & Vision</h4></div>
<section class="about-bg-section"></section>
<section class="mission-and-vision">
    <h5 class="mission-header">Mission</h5> <br>
    <p class="mission-content">
        A leading University in the Negros Island Region in 2025 driven by passion for academic excellence through innovation.
    </p>
    <h5 class="vision-header">Vision</h5> <br>
    <p class="vision-content">
        We are commited to produce excellent quality graduates who are able to meet and uphold the standards of the industry in pursuit of a better Filipino family and nation.
    </p>
</section>