<h4 class="mission-and-vision-header">Mission & Vision</h4>
<section class="about-bg-section"></section>
<section class="mission-and-vision">
    <h5 class="mission-header">Mission</h5> <br>
    <p class="mission-content">
        We are an institution committed to provide knowledge through the 
            development and delivery of superior learning systems. <br> <br>
        We strive to provide optimum value to all our stakeholders – our students, 
            our faculty members, our employees, our partners, our shareholders, and our community. <br> <br>
        We will pursue this mission with utmost integrity, dedication, transparency, and creativity. <br> <br>
    </p>

    <h5 class="vision-header">Vision</h5> <br>
    <p class="vision-content">
        To be the leader in innovative and relevant education that nurtures 
            individuals to become competent and responsible members of society.
    </p>
</section>