<h4>Greetings, <%= @alumnus_record.full_name %></h4>

Your accounts has been verified successully by an administrator. You may now log-in back the application through <%= link_to 'here', login_url %>
