<div class="navigation">
    <ul>
        <li><%= link_to 'Home', admin_home_path %></li>
        <li><%= link_to 'Alumni List', '#' %></li>
        <li><%= link_to 'Statistics', '#' %></li>
        <li><%= link_to 'Logout', '#' %></li>
    </ul>
</div>