<div class="event">
    <figure>
        <% if event.file.present? %>
            <%= image_tag event.file.url %> 
        <% end %>
    </figure>
    <div class="event-details">
        <div class="event-detail-row">
            Created at: <%= event.created_at.to_date.to_formatted_s(:long) %>
        </div>
        <div class="event-detail-row">
            <p><%= event.caption %></p>
        </div>
    </div>
</div>