<div class="events-index">
    <% if current_user.is_an_admin %>
        <%= render partial: 'common/navigation' %>
    <% else %>
        <%= render partial: 'common/user-navigation' %>
    <% end %>
    
    <%= render @events %>
</div>