<div class="events-index">
    <%= render partial: 'common/navigation' %>
    <div class="events-header-image-container">
        <%= image_tag 'upcoming-events.png', class: 'events-header-image' %>
    </div>
    <div class="calendar-section">
        <div id="events-index-calendar"></div>
    </div>
    <div class="search-events-section">
        <div class="search-event-input-container">
            <input type="text" class="search-event-input" placeholder="Enter event details here">    
        </div>
        <div class="submit-button-container">
            <button type="submit">Search Event</button>
        </div>
    </div>
     <%= render @events %>  
    <div class="pagination-links">
        <%= paginate @events %>
    </div> 
</div>