<div class="events-index">
    <%= render partial: 'common/navigation' %>
    <div class="events-header-image-container">
        <%= image_tag 'upcoming-events.png', class: 'events-header-image' %>
    </div>
    <%= render @events %>
</div>