<div class="events-index">
    <%= render partial: 'common/navigation' %>
    <div class="events-header-image-container">
        <%= image_tag 'upcoming-events.png', class: 'events-header-image' %>
    </div>
    <div class="calendar-section">
        <div id="events-index-calendar"></div>
    </div>
     <%= render @events %>  
    <div class="pagination-links">
        <%= paginate @events %>
    </div> 

</div>