 <div class="form-navigation">
    <div class="back-button-container">
        <button type="button" class="back-button">Go Back</button>
    </div>
    <div class="next-button-container">
        <button type="button" class="next-button">Next</button>
    </div>
</div>