.event-creation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    h4.create-new-event-header {
        display: inline-block;
        font-size: 2.5em;
        font-family: lato, arial, verdana;
        color:#0288D1;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        position: relative;
        
    }
    .create-event-section {
         position: relative;
        .create-new-image {
            position: absolute;
            height: 100px;
            width: auto;
            top: -50px;
        }
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 20px;
        margin: auto;
        height: 60%;
        width: 80%;
        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .errors-section {
                // border: 1px solid black;
                height: 40px;
                width: 60%;
                margin: auto;
            }
            .file-upload,
            .event-caption,
            .create-event {
                width: 60%;
                margin: 10px auto auto auto;
            }

            .file-upload {
                input[type=file] {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                    & + label {
                        cursor: pointer;
                    }
                    &:focus + label,
                    & + label:hover {
                        background-color: #1565C0;
                        outline: 1px dotted #000;
                        outline: -webkit-focus-ring-color auto 5px;
                    }
                }

                label {
                    font-size: 14px;
                    font-weight: 700;
                    color: white;
                    background-color:#1976D2;
                    padding: 10px 15px;
                    display: inline-block;
                    border-radius: 4px;
                    font-family: lato, arial, verdana;

                    i.fa-file-upload {
                        font-size: 16px;
                        margin-right: 10px;
                    }
                }

                span.selected-file {
                    margin-left: 10px;
                    font-family: lato, arial, verdana;
                    color: rgba(0, 0, 0, 0.6);
                }
            }

            .event-caption {
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
                textarea {
                    width: 100%;
                    height: 200px;
                    resize: none;
                    font-size: 14px;
                    font-family: lato, arial, verdana;
                    padding: 10px;
                    outline: none;
                    border: none;
                    letter-spacing: 1px;
                    font-size: 1.2em;
                }
            }

            .create-event {
                text-align: center;
                input[type=submit] {
                    background-color: #90CAF9;
                    cursor: pointer;
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #fefefe;
                    border-radius: 3px;
                    border: 1px solid #64B5F6;
                }
            }
        }
    }
}