.events-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f4f4f4;

    div.pagination-links {
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.calendar-section {
        text-align: center;
        display: flex;
        justify-content: center;
        div#events-index-calendar {
            width: 60%;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
            div.ui-datepicker-inline {
                width: 100%;
                a.ui-corner-all {
                    top: 50%;
                    transform: translateY(-50%);
                }
                div.ui-datepicker-title {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                a.ui-state-default {
                    height:60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    div.search-events-section {
        display: flex;
        width: 60%;
        margin: 10px auto 0 auto;
        align-items: center;
        @media only screen and (max-width: 450px) {
            width: 100%;
            font-size: 1em;
        }
        div.search-event-input-container {
            flex: 0 1 40%;
            @media only screen and (max-width:  725px) {
                flex: 50%;
            }
        }
        input.search-event-input {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 10px 0.5em;
            width: 100%;
            font-family: lato, verdana, arial;
            font-size: 0.9em;
            @media only screen and (max-width: 485px) {
                font-size: 0.75em;
            }
        }
        button {
            margin-left: 10px;
            padding: 8px 10px;
            font-family: lato;
            font-size: 0.9em;
            border-radius: 4px;
            background-color: #1565C0;
            border: 1px solid #1565C0;
            cursor: pointer;
            color: #fefefe;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
            outline: none;
            transition: background-color 250ms ease;
            &:active {
                background-color: #0D47A1;
            }
        }
    }

    div.events-header-image-container {
        width: 100%;
        text-align: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
         img.events-header-image {
            width: 350px;
            height: auto;
            text-align: center;
            @media only screen and (max-width: 340px) {
                width: 100%;
            }
        }
    }
    .event {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 10px 0;
        &:not(:first-of-type) {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
        }

        div.event-details {
            width: 60%;
            margin: auto;
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
            div.event-detail-row {
                padding: 15px;
                font-family: lato, arial, verdana;
                background-color: #fefefe;
                
                &:first-of-type {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    background-color: #F5F5F5;
                }
            }
        }
        figure {
            padding: 10px 0; 
            margin: auto;
            width: 60%;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            margin: 10px auto auto auto;
            font-family: lato, arial, verdana;
            border-radius: 4px;
            text-align: justify;
            letter-spacing: 1px;
            line-height: 30px;
            word-break: break-all;
        }
    }
}