<div class="alumni-list">
    <table>
        <tr class="headers-row">
            <th>Full Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Course</th>
            <th>Year Graduated</th>
            <th>Status</th>
        </tr>
        <%= render partial: 'alumnus_record', collection: @alumnus_records %>
    </table>
</div>