.bar-chart-section-header {
    margin: 15px 0;
    h4.header {
        text-align: center;
        font-size: 26px;
        color: #455A64;
        font-family: lato, verdana, arial;
    }
}

.statistics, .bar-chart {
    display: flex;
    justify-content: center;

    * { font-family: lato, arial, verdana; }

    .canvas-container,
    .employment-status-options-container,
    .year-and-course-selection,
    .bar-chart-canvas-container {
        width: 305px;
        margin: 10px;
    }

    .employment-status-options-container,
    .year-and-course-selection {
        display: flex;
        flex-direction: column;
        height: 400px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        h5 {
            flex: 0 1 20px;
            line-height: 20px;
            vertical-align: middle;
            margin-left: 8px;
            font-weight:  300;
            font-size: 14px;
            position: relative;
            color: #455a64;
        }
        input[type=number].bar-chart-year-selector {
            width: 95%;
            border-radius: 4px;
            margin: 6px auto;
            padding: 5px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.25);
            font-size: 15px;
            color:  #263238;
        }
        h5.years-label::before  {
            content: '';
            transform: translateX(-8px);
            left: 0;
            display: block;
            top: 0;
            background-color: rgba(0, 0, 0, 0.35);
            height: 1px;
            width: 103%;
            margin: 10px 0;
        }
        select {
            cursor: pointer;
            flex: 0 1 40px;
            margin: 0 5px;
            padding:  6px 0;
            background-color: #eeeeee;
            border-radius: 3px;
        }
        div.years-number-fields-group {
            padding: 5px;
            input[type=number] {
                width: 100%;
                border-radius: 4px;
                margin: 6px 0;
                padding: 5px;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.25);
                font-size: 15px;
                color:  #263238;
            }
        }
        .refresh-button-container, .refresh-bar-chart-button-container {
            text-align: center;
            #refresh-chart-button, #refresh-bar-chart-button {
                background-color: #1565C0;
                color: #f4f4f4;
                padding: 10px 15px;
                font-size: 16px;
                border-radius: 4px;
                border: transparent;
                transition: background-color 0.2s ease;
                cursor: pointer;
                i {
                    color: #f4f4f4;
                    font-size: 14px;
                    margin-right: 5px;
                }
                &:hover {
                    background-color: #0D47A1;
                }
            }
        }
    }
    
    .canvas-container, .bar-chart-canvas-container {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
        padding: 20px;
        height: 400px;
        width: 700px;
    }
}

.alumni-statistics-summary {
    margin: 15px auto;
    width: 1030px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    * { 
        font-family: lato, arial, verdana;
        font-size: 14px;
    }
    .headers, .employed-count, .unemployed-count, .total-count {
        display: flex;
        align-items: center;
        &:first-of-type img {
            width: 50px;
            height: auto;
            margin: 10px;
        }

        div.header-item, div.img-container {
            height: 68px;
            line-height: 68px;
            vertical-align: middle;
            padding: 0 !important;
            flex: 1 1 20%;
            text-align: center;
        }

        .img-container {
            background-image: linear-gradient(to right, #ECEFF1,#CFD8DC);
        }

        div.header-item,
        div.employed-count-header,
        div.unemployed-count-header,
        div.total-count-header,
        .employed-count-data, .unemployed-count-data, .total-count-data {
            flex: 1 1 20%;
            text-align: center;
            padding: 10px 5px;
            border-bottom: 1px solid #CFD8DC;
            border-right: 1px solid #CFD8DC;
            position: relative;
            i {
                position: absolute;
                right: 10px;
                font-size: 20px;
            }
        }

        div.header-item {
            background-color: #CFD8DC;
            border-right: none;
            color: #37474F;
        }

        .employed-count-header {
            background-color: #03A9F4;
            color: #f5f5f5;
        }
        .unemployed-count-header {
            background-color: #EF5350;
            color: #f5f5f5;
        }
    }
    .employed-count {
        display: flex;
        div.employed-count-header, .employed-count-data {
            flex: 1 1 20%;
            text-align: center;
        }
    }

    .total-count-header {
        background-color: #81D4FA;
        font-weight: 400;
        font-size: 15px;
    }
}

.bar-chart {
    .year-and-course-selection {
        .bar-chart-course-selection-group {
            display: flex;
            flex-direction: column;
            padding: 0 2px;
            select {
                cursor: pointer;
                flex: 0 1 40px;
                margin: 6px 5px;
                padding:  6px 0;
                background-color: #eeeeee;
                border-radius: 3px;
                padding: 10px;
                background-color: #ECEFF1;
                color: #546E7A;
                border: 1px solid #CFD8DC;
            }
        }
        .refresh-bar-chart-button-container {
            #refresh-bar-chart-button {
                background-color: #0D47A1;
            }
        }
    }
}