
div.edit-user-page {
    width: 100%;
    background: #f9f9f9;
    div.submit-button-container {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        button {
            padding: 12px 8px;
            border-radius: 4px;
            font-family: lato, verdana, arial;
            width: 100px;
            color: #fefefe;
            background-color: #0277bd;
            outline: none;
            border: none;
            box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15);
            cursor: pointer;
            transition: background-color 300ms ease;
            &:hover {
                background-color: #01579b;
            }
        }
    }
    div.personal-information-header {
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
            text-align: center;
            font-size: 1.5em;
            font-weight: 300;
            color: #455a64;
            font-family:  lato, verdana, arial;
        }

        img.personal-info-logo {
            text-align: center;
            height: 200px;
            width: auto;
        }
    }
    div.errors-container {
        background-color: #f4f4f4;
        border: 1px solid #d32f2f;
        width: 600px;
        border-radius: 4px;
        margin: 0 auto;
        @media only screen and (max-width: 620px) {
            width: 100%;
        }
        div {
            padding: 8px;
            font-size: 1em;
            text-align: center;
            font-family: lato, verdana, arial;
            &:not(:last-of-type) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            }
        }
    }
    fieldset {
        background-color: #fefefe;
        width: 600px;
        border: none;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        @media only screen and (max-width: 620px) {
            width: 100%;
        }
    }
    fieldset.second-window {
        padding: 0.5em;
        text-align: center;
        margin-bottom: 15px;
        div.input-pair {
            display: flex;
            width: 400px;
            margin: 10px auto;
            align-items: center;
            flex-wrap: wrap;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
            label {
                flex: 0 1 30%;
                text-align: left;
                @media only screen and (max-width: 350px) {
                    flex: 0 1 100%;
                    margin-bottom: 10px;
                }
            }
            input {
                flex: 0 1 70%;
                @media only screen and (max-width: 350px) {
                    flex: 0 1 100%;
                }
            }
            input[type=text] {
                text-transform: capitalize;
            }
            input[type=checkbox] {
                cursor: pointer;
                justify-self: center;                
            }
        }
        label {
            font-family: lato, verdana, arial;
            font-size: 1.1em;
        }
        input[type=text],
        input[type=email] {
            margin: 0;
            flex: 0 1 300px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 5px;
            font-family: lato, verdana, arial;
            font-size: 1.1em;
            font-weight: 100;
        }
        div.gender-select-section {
            margin: 20px auto;
            select {
                padding: 5px;
                font-family: lato, verdana arial;
                font-size: 1em;
                border-radius: 4px;
                background-color: #fefefe;
                cursor: pointer;
            }
        }
    }

    fieldset.third-window {
        padding: 0.5em;
        text-align: center;
        margin-bottom: 15px;
        label {
            font-family: lato, verdana, arial;
            font-size: 1.1em;
            cursor:  pointer;
        }
        h5 {
            font-family: lato, verdana, arial;
            font-size: 1.5em;
            font-weight: 300;
        }
        div.course-select-section,
        div.year-graduated-select-section,
        div.employment-status-radio-section {
            margin: 20px auto;
            select {
                padding: 5px;
                font-family: lato, verdana arial;
                font-size: 1em;
                border-radius: 4px;
                background-color: #fefefe;
                cursor: pointer;
                width: 100%;
            }
        }
    }

    fieldset.employment-information-window {
        padding: 0.5em;
        text-align: center;
        margin-bottom: 15px;
         h5 {
            font-family: lato, verdana, arial;
            font-size: 1.5em;
            font-weight: 300;
            text-align: center;
        }
        div.text-field-pair {
            margin: 10px auto;
            display: flex;
            width: 400px;
            align-items: center;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
            label {
                font-family: lato, verdana, arial;
                font-size: 0.9em;
                flex: 0 1 30%;
                text-align: left;
            }
            input[type=text] {
                flex: 0 1 70%;
                margin: 0;
                flex: 0 1 300px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                padding: 5px;
                font-family: lato, verdana, arial;
                font-size: 1.1em;
                font-weight: 100;
            }
        }
    }

    fieldset.unemployment-reason-window {
        text-align: center;
        padding: 5px;
        margin-bottom: 15px;
        label {
            font-family: lato, verdana, arial;
            font-size: 1em;
        }
        textarea {
            width: 80%;
            height: 200px;
            resize: none;
            font-size: 14px;
            font-family: lato, arial, verdana;
            padding: 10px;
            outline: none;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            letter-spacing: 1.5px;
            margin: 10px auto;
        }
    }
}