.navigation {
    width: 100%;
    height: 60px;
    background-color: #1976D2;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 100%;
        width: 40%;
        li {
            list-style: none;
            line-height: 60px;
            text-transform: capitalize;
            font-family: lato, arial, verdana;
            a {
                text-decoration: none;
                color: #f4f4f4;
                cursor: pointer;
                padding: 10px;
                transition: background-color 0.2s ease;
                border-radius: 4px;
                &:hover {
                    background-color: #0D47A1;
                }
            }

            .notification-group {
                position: relative;
                span#unread-notifications-count {
                    cursor: pointer;
                    display: block;
                    background-color: #e53935;
                    color: white;
                    border: none;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
                    outline: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 100%;
                    position: absolute;
                    top: 10px;
                    left: 8px;
                    line-height: 15px;
                    text-align: center;
                    padding: 2px 3px 0 0;
                    font-size: 12px;
                    text-rendering: optimizeLegibility;
                    box-shadow: none;
                }
                i {
                    color: #0d47a1;
                    font-size: 22px;
                    cursor: pointer;
                }
                div.notifications-list-container {
                    position: relative;
                    visibility: hidden;
                    opacity: 0;
                    &:before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        border-top: 10px solid transparent;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        right: 0;
                        top: -23px;
                    }
                    ul#notifications-list {
                        position: absolute;
                        height: 460px;
                        width: 250px;
                        background-color: #fff;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
                        right: -15px;
                        transform: translateY(-7px);
                        border-radius: 4px;
                        padding: 4px 8px;
                        overflow-y: auto;
                        display: block;
                        li {
                            display:  flex;
                            align-items: center;
                            line-height: 10px;
                            text-align: center;
                            height:  40px;
                            padding-bottom: 4px;
                            cursor: pointer;
                            
                            span.notification-details {
                                font-size: 12px;
                                color:  rgba(0, 0, 0, 0.5);
                                text-transform: none;
                                margin: auto;
                                display: inline-block;
                            }

                            &:not(:last-of-type) {
                                border-bottom: 1px solid#e0e2e9;
                                margin-bottom: 5px;
                            }
                        }

                        li.not-read-notif {
                            background-color: #e3f2fd;
                        }
                    }
                }
            }
        }
    }

    .user-navigation {
        width: 30%;
        li {
            text-transform: none;
            color: #f4f4f4;
            span {
                color: #f4f4f4;
                margin-left: 15px;
            }
        }
        li.logged-in-as {
            background-color: #0D47A1;
            padding: 0 10px;
        }
    }
}