div.container  {
    display: flex;
    justify-content: center;
}
h4.mission-and-vision-header {
    display: inline-block;
    font-family: lato;
    font-size: 48px;
    text-transform: uppercase;
    padding: 20px 0;
    color: #C62828;
    position: relative;
    &::before {
        z-index: -1;
        content: '';
        height: 100%;
        position: absolute;
        left: -20px;
        right: -20px;
        background-color: white;
        top: 0;
    }

    &::after {
        z-index: -2;
        content: '';
        top: 25%;
        position: absolute;
        height: 50%;
        width: 100vw;
        display: block;
        background-color: #0D47A1;
        left: 50%;
        transform: translateX(-50%);
    }
}

section.about-bg-section {
    width: 100%;
    height: 100vh;
    background-image: image-url('school-bg-image.jpg');
    background-position: center;
    background-size: cover;
}

section.mission-and-vision {
    padding: 25px;
    h5.mission-header, h5.vision-header {
        font-family: lato;
        color: black;
        font-size: 70px;
        font-weight: 600;
    }
    
    p.mission-content, p.vision-content { 
        font-size: 24px;
        font-family: lato;
        line-height: 40px;
    }
}